input {
    width: 200px;
    margin: 10px;
    font-size: 24px;
}

body {
    display: flex;
    border: solid;
    flex-direction: column;
    justify-content: space-between;
}

#numbers {

}

#button-container{
    display: flex;
    flex-wrap: wrap;
    border: solid;
}